In [6]:
import sqlite3
# Connect to the database and Print the contents
conn = sqlite3.connect('banking_bot.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM users;")
print("Users")
#print them one for each line
for row in cursor.fetchall():
    print(row)
cursor.execute("SELECT * FROM transactions;")
print("Transactions")
for row in cursor.fetchall():
    print(row)
cursor.execute("SELECT * FROM accounts;")
print("Accounts")
for row in cursor.fetchall():
    print(row)
conn.close()

Users
(510904465, 'Yernur', 'polatbek0120@gmail.com', '+77028175353')
(961949993, 'Zharma', 'Zharma@mail.ru', '87008788877')
(1335049700, 'Madiyar', 'Madi@mail.ru', '87028909090')
(1794247057, 'What do you can', 'alikhanzhanabil@gmail.com', '87474335114')
(1974164357, 'Meiirbek', 'test.20.21@mail.ru', '87056676597')
Transactions
(1, 1, '2024-11-01 10:06:03', 1000.0, 'Loan')
(2, 1, '2024-11-01 10:06:10', -205.0, 'Donation')
(3, 1, '2024-11-01 10:06:24', -200.0, 'Donation')
(4, 1, '2024-11-01 10:09:00', -190.0, 'Donation')
(5, 1, '2024-11-01 10:14:44', 500.0, 'Loan')
(6, 1, '2024-11-01 10:15:18', -900.0, 'Donation')
(7, 1, '2024-11-01 10:15:33', 100000000000000.0, 'Loan')
(8, 1, '2024-11-01 10:15:44', -99.0, 'Donation')
(9, 2, '2024-11-01 10:22:45', 90090.0, 'Loan')
(10, 2, '2024-11-01 10:22:53', -80000.0, 'Donation')
(11, 3, '2024-11-08 07:14:14', 3000.0, 'Loan')
(12, 3, '2024-11-08 07:14:39', -2500.0, 'Donation')
(13, 2, '2024-11-08 07:59:43', 1600.0, 'Deposit')
(14, 510904465, '2024-11-08 08:00:29', -2000.0, 'Transfer Out')
(15, 1335049700, '2024-11-08 08:00:29', 2000.0, 'Transfer In')
(16, 510904465, '2024-11-08 08:04:44', -2000.0, 'Transfer Out')
(17, 961949993, '2024-11-08 08:04:44', 2000.0, 'Transfer In')
(18, 510904465, '2024-11-08 08:08:07', -2000.0, 'Transfer Out')
(19, 961949993, '2024-11-08 08:08:07', 2000.0, 'Transfer In')
(20, 2, '2024-11-08 08:08:50', 400.0, 'Loan')
(21, 4, '2024-11-08 08:12:30', 5000.0, 'Loan')
(22, 510904465, '2024-11-08 08:28:07', 300.0, 'Loan')
(23, 2, '2024-11-08 09:10:13', 600.0, 'Deposit')
(24, 2, '2024-11-08 09:10:30', -600.0, 'Donation')
(25, 510904465, '2024-11-08 09:11:37', 30000.0, 'Loan')
(26, 510904465, '2024-11-08 09:12:55', -2000.0, 'Transfer Out')
(27, 1335049700, '2024-11-08 09:12:55', 2000.0, 'Transfer In')
(28, 510904465, '2024-11-15 08:34:41', -1000.0, 'Transfer Out')
(29, 1335049700, '2024-11-15 08:34:41', 1000.0, 'Transfer In')
(30, 510904465, '2024-11-15 08:35:06', 100.0, 'Loan')
(31, 510904465, '2024-11-15 09:13:16', 2000.0, 'Loan')
(32, 2, '2024-11-15 09:13:24', -2000.0, 'Donation')
(33, 2, '2024-11-15 09:13:30', 60000.0, 'Deposit')
(34, 2, '2024-11-15 09:42:52', -1000.0, 'Donation')
(35, 510904465, '2024-11-15 09:43:54', 1000.0, 'Loan')
(36, 6, '2024-11-28 11:41:06', 100000.0, 'Deposit')
(37, 510904465, '2024-11-28 11:54:56', -19000.0, 'Transfer Out')
(38, 961949993, '2024-11-28 11:54:56', 19000.0, 'Transfer In')
(39, 6, '2024-11-28 11:56:46', -80000.0, 'Donation')
(40, 510904465, '2024-11-28 12:00:59', 20000.0, 'Loan')
(41, 510904465, '2024-11-28 12:02:37', -20000.0, 'Loan Payment')
(42, 510904465, '2024-11-28 12:03:13', 16000.0, 'Loan')
(43, 510904465, '2024-11-28 12:03:20', -3690.0, 'Loan Payment')
(44, 6, '2024-11-28 12:07:14', 20000.0, 'Deposit')
Accounts
(1, 1335049700, 'ACC1335049700', 'savings', 3050.0)
(3, 961949993, 'ACC961949993', 'savings', 21500.0)
(4, 1974164357, 'ACC1974164357', 'savings', 5000.0)
(5, 1794247057, 'ACC1794247057', 'savings', 0.0)
(6, 510904465, 'ACC510904465', 'savings', 33310.0)

In [7]:
# update balance to 50 for user with id 1
conn = sqlite3.connect('banking_bot.db')
cursor = conn.cursor()
cursor.execute("UPDATE accounts SET balance = 50 WHERE id = 1;")
conn.commit()
cursor.execute("SELECT * FROM accounts;")
print("Accounts\n",cursor.fetchall())

Accounts
 [(1, 1335049700, 'ACC1335049700', 'savings', 50.0), (2, 510904465, 'ACC510904465', 'savings', 10090.0), (3, 961949993, 'ACC961949993', 'savings', 500.0)]

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('banking_bot.db')
cursor = conn.cursor()

# User ID to delete
user_id_to_delete = 510904465

# Delete from loans table
cursor.execute("DELETE FROM loans WHERE userId = ?;", (user_id_to_delete,))
print(f"Deleted records from loans table for userId {user_id_to_delete}")

# Delete from accounts table
cursor.execute("DELETE FROM accounts WHERE userId = ?;", (user_id_to_delete,))
print(f"Deleted records from accounts table for userId {user_id_to_delete}")

# Delete from users table
cursor.execute("DELETE FROM users WHERE id = ?;", (user_id_to_delete,))
print(f"Deleted records from users table for id {user_id_to_delete}")

# Commit the changes
conn.commit()

# Verify the deletions
print("Remaining records after deletion:")
cursor.execute("SELECT * FROM users;")
print("Users")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM accounts;")
print("Accounts")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM loans;")
print("Loans")
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

Deleted records from loans table for userId 510904465
Deleted records from accounts table for userId 510904465
Deleted records from users table for id 510904465
Remaining records after deletion:
Users
(961949993, 'Zharma', 'Zharma@mail.ru', '87008788877')
(1335049700, 'Madiyar', 'Madi@mail.ru', '87028909090')
(1794247057, 'What do you can', 'alikhanzhanabil@gmail.com', '87474335114')
(1974164357, 'Meiirbek', 'test.20.21@mail.ru', '87056676597')
Accounts
(1, 1335049700, 'ACC1335049700', 'savings', 3050.0)
(3, 961949993, 'ACC961949993', 'savings', 2500.0)
(4, 1974164357, 'ACC1974164357', 'savings', 5000.0)
(5, 1794247057, 'ACC1794247057', 'savings', 0.0)
Loans